{namespace vh=In2code\Powermail\ViewHelpers}
{namespace g=Gugler\GuglerPowermail\ViewHelpers}

<f:render partial="Form/FieldLabel" arguments="{_all}"/>

<span id='captcha-task-{field.uid}'>
  <g:GuglerCaptcha field="{field}"/>
</span>

<f:form.textfield
        id="powermail_field_{field.marker}"
        property="{field.marker}"
        value=""
        type="text"
        class="powermail_captcha {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
        additionalAttributes="{vh:validation.captchaDataAttribute(field:field)}"
        aria="{describedby: 'captcha-task-{field.uid} ' }"
/>

<f:if condition="{settings.validation.client}">
    <div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
</f:if>
