{namespace vh=In2code\Powermail\ViewHelpers}

<f:render partial="Form/FieldLabel" arguments="{_all}" />

<f:form.textfield
  type="{field.datepickerSettingsOptimized}"
  id="powermail_field_{field.marker}"
  class="powermail_date {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
  property="{field.marker}"
  value="{vh:misc.prefillField(field:field, mail:mail)}"
  additionalAttributes="{vh:validation.datepickerDataAttribute(field:field, additionalAttributes:'{autocomplete:\'{field.autocomplete}\'}', value:'{vh:misc.prefillField(field:field)}')}"
/>
