{namespace vh=In2code\Powermail\ViewHelpers}

<f:render partial="Form/FieldLabel" arguments="{_all}"/>

<f:form.textfield
        type="{vh:validation.fieldTypeFromValidation(field:field)}"
        id="powermail_field_{field.marker}"
        class="powermail_input form-control {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
        placeholder="{field.placeholder}"
        property="{field.marker}"
        value="{vh:misc.prefillField(field:field, mail:mail)}"
        additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field, additionalAttributes:'{autocomplete:\'{field.autocomplete}\'}')}"
/>
