{namespace vh=In2code\Powermail\ViewHelpers}

<f:render partial="Form/FieldLabel" arguments="{_all}"/>
<f:form.select
        property="{field.marker}"
        class="powermail_select form-select {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
        id="powermail_field_{field.marker}"
        additionalAttributes="{vh:validation.validationDataAttribute(field:field)}"
        multiple="{field.multiselectForField}"
        value="{vh:misc.prefillField(field:field, mail:mail)}"
>
    <f:for each="{field.modifiedSettings}" as="option" iteration="i">
        <f:form.select.option value="{option.value}"> {option.label}</f:form.select.option>
    </f:for>
</f:form.select>

<f:if condition="{field.multiselect}">
    <f:if condition="{settings.validation.client}">
        <div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
    </f:if>
</f:if>
